/* Your Styles Here */
body {
    background: url("background.jpg");
    background-size: cover;
}

.wrapper {
    width: 100%;
    text-align: center;
}

.card {
    width: 40%;
    display: inline-block;
    margin-top: 2rem;
    transform: rotate(3deg);
    transition: 0.15s;
}

.card:hover {
    transform: rotate(-6deg);
    transition: 0.15s;
}

.card2 {
    width: 90%;
    display: inline-block;
    margin-top: 2rem;
    padding: 0.25rem;
    animation: gradient 10s ease infinite;
    background: linear-gradient(-45deg, #cdb4db, #ffc8dd, #bde0fe, #ffdab9);
    background-size: 400% 400%;
}

.picture {
    background: #fff;
    padding: 1rem;
}

.picture img{
    max-width: 100%;
    height: auto;
}

.caption {
    font-size: 1.8rem;
    font-family: "Bradley Hand", cursive;
    text-align: center;
    line-height: 2em;
}

.paragraph {
    font-size: 1.25rem;
    font-family: "Bradley Hand", cursive;
    text-align: center;
    line-height: 2em;
}

.btn {
    position: absolute;
    right: 0;
    top: 0;
}

.btn:hover {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24),0 15px 40px 0 rgba(0,0,0,0.19);
}

@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}